## Step 1. Loading Data
Read the **lowa data file** into a **Pandas DataFrame** called `home_data`

In [2]:
import pandas as pd

# path of file to read
iowa_file_path = 'train.csv'

# read file
home_data = pd.read_csv(iowa_file_path)

# print summary statistics
home_data.describe()

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

## Step 2. Specify Prediction Target
Selecting target variable, which is sales price

In [12]:
# print list of columns
print(home_data.columns)

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [13]:
# target variable
y = home_data.SalePrice

## Step 3. Create X
Create a DataFrame called X that holding the predictive features

In [14]:
# list of features
feature_names = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']

# predictive features
X = home_data[feature_names]

In [16]:
# review the data
X.describe()
X.head()

   LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  TotRmsAbvGrd
0     8450       2003       856       854         2             3             8
1     9600       1976      1262         0         2             3             6
2    11250       2001       920       866         2             3             6
3     9550       1915       961       756         1             3             7
4    14260       2000      1145      1053         2             4             9

## Step 4. Specify & Fit Model
Create a **DecisionTree model** for `iowa_model`

In [18]:
from sklearn.tree import DecisionTreeRegressor

# specify model
# for model reproducibility, set numberic value to random_state parameter
iowa_model = DecisionTreeRegressor(random_state=1)

# fit the model
iowa_model.fit(X, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

## Step 5. Make Prediction
Make prediction using X as the data

In [24]:
# make a prediction
predictions = iowa_model.predict(X.head())

# print the result
print('first in-sample prediction: ', predictions)
print('actual target value of those home: ', y.head().tolist())

first in-sample prediction:  [208500. 181500. 223500. 140000. 250000.]
actual target value of those home:  [208500, 181500, 223500, 140000, 250000]

## Model Validation
Do a model validation to show model's performance

In [32]:
from sklearn.model_selection import train_test_split

# split data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

# specify the model
iowa_model = DecisionTreeRegressor(random_state=1)

# fit the model with training data
iowa_model.fit(train_X, train_y)

# make a prediction
val_predictions = iowa_model.predict(val_X)

# print the result
print(iowa_model.predict(val_X.head()))
print(val_y.head().tolist())

[186500. 184000. 130000.  92000. 164500.]
[231500, 179500, 122000, 84500, 142000]

## Calculate Mean Absolute Error in Validation Data

In [34]:
from sklearn.metrics import mean_absolute_error

# calculate MAE
val_mae = mean_absolute_error(val_y, val_predictions)
print(val_mae)

29652.931506849316

## Underfitting & Overfitting

In [36]:
# get mean absolute error function
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
  model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
  model.fit(train_X, train_y)
  preds_val = model.predict(val_X)
  mae = mean_absolute_error(val_y, preds_val)
  return(mae)

In [38]:
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]
scores = {leaf_size: get_mae(leaf_size, train_X, val_X, train_y, val_y) for leaf_size in candidate_max_leaf_nodes}

# get the best value
best_tree_size = min(scores, key=scores.get)
print(best_tree_size)

100

In [39]:
final_model = DecisionTreeRegressor(max_leaf_nodes=best_tree_size, random_state=1)
final_model.fit(X, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=100,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

## Random Forest

In [40]:
from sklearn.ensemble import RandomForestRegressor

# create random forest model
rf_model = RandomForestRegressor(random_state=1)

# fit the model
rf_model.fit(train_X, train_y)

# predict
rf_val_predictions = rf_model.predict(val_X)
rf_val_mae = mean_absolute_error(val_y, rf_val_predictions)

print('MAE Random Forest: ', rf_val_mae)

MAE Random Forest:  21857.15912981083